<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name=".utiles.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoubleDotProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.drawer.AddMoneyToWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.drawer.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.drawer.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.drawer.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.drawer.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.drawer.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.drawer.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.ExpertReviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.ExperDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.FiltersActivity"
            android:exported="false"
            android:theme="@style/Theme.DoubleDotProject" />
        <activity
            android:name=".activity.home.HomeMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.auth.AuthSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.SignInMobOTPActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.intro.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>